.button:link,
.button:active{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 50px;
    transition: all 0.2s;
    position: relative;
    
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.button:active{
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

.button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.button:hover::after{
    transform: scale(1.4) scaleY(1.4);
    opacity: 0;
}

@keyframes moveButton {
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.button-blue{
    background-color:rgb(95, 189, 255);
    animation: moveButton 0.5s ease-out;
    animation-fill-mode: backwards;
    color: #fff;
}
.button-blue::after{
    background-color:rgb(95, 189, 255);
}
.button-white{
    background-color: #fff;
    color: #777;
    animation: moveButton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}
.button-white::after{
    background-color: #fff;
}