.footer{
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
        width: 80%;
        display: flex;
        justify-content: space-between;

        & p{
            font-size: 2rem;
            color: #777;
        }
    }
}

@media (max-width: 550px) {
    .footer{

        &__content{

            & p{
                font-size: 1.5rem;
            }
        }
    }
}

@media (max-width: 400px) {
    .footer{

        &__content{

            & p{
                font-size: 1rem;
            }
        }
    }
}