.footer{
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
        width: 80%;
        display: flex;
        justify-content: space-between;

        & p{
            font-size: 2rem;
            color: #777;
        }
    }
}