.hero-header{
    text-align: center;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.8rem;
        margin-bottom: 0.6rem;
        animation: moveRight 0.75s ease-out;
    }

    &__text{
        display: block;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 9px;
        margin-bottom: 3.5rem;
        transform: translateX(-1.1rem);
        animation: moveLeft 0.75s ease-out;
    }
}

@keyframes moveRight{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        opacity: 1;
        transform: translateX(1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveLeft{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    80%{
        opacity: 1;
        transform: translateX(-2rem);
    }

    100%{
        opacity: 1;
        transform: translateX(-1.1rem);
    }
}

@media (max-width: 768px) {
    .hero-header{

        &__title{
            font-size: 5.1rem;
            letter-spacing: 3rem;
        }

        &__text{
            font-size: 1.2rem;
            letter-spacing: 6px;
        }
    }
}
@media (max-width: 500px) {
    .hero-header{

        &__title{
            font-size: 3.7rem;
            letter-spacing: 2rem;
        }

        &__text{
            font-size: 0.9rem;
            letter-spacing: 4px;
            transform: translateX(-0.7rem);
        }
    }
}
@media (max-width: 385px) {
    .hero-header{

        &__title{
            font-size: 3.4rem;
            letter-spacing: 1.6rem;
        }

        &__text{
            font-size: 0.8rem;
            letter-spacing: 3px;
            transform: translateX(-0.7rem);
        }
    }
}